<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Creators</title>
        <meta name="viewport" content="width=device-width, initial- scale=1.0">
        <link rel="stylesheet" href="/static/members.css" />
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">Breed Classifier</label>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a class="active" href="members">Creators</a></li>
                <li><a href="login">Login</a></li>
            </ul>
        </nav>
        <div class ="container">
            <h1 class="heading"><span>meet</span>Our Team</h1>

            <div class="profiles">
                <div class="profile">
                    <img src="static/cobarrubias.jpg" class="profile-img">
                    <h3 class="user-name">Joshua Cobarrubias</h3>
                    <h5>Intelligence System</h5> 
                </div>
            </div>
            <div class="profiles">
                <div class="profile">
                    <img src="static/enriquez.png" class="profile-img">
                    <h3 class="user-name">Mark Joel Enriquez</h3>
                    <h5>Railway Engineering</h5> 
                </div>
            </div>
            <div class="profiles">
                <div class="profile">
                    <img src="static/Flores.jpg" class="profile-img">
                    <h3 class="user-name">Aniken George Flores</h3>
                    <h5>Intelligence System</h5> 
                </div>
            </div>
            <div class="profiles">
                <div class="profile">
                    <img src="static/villote.png" class="profile-img">
                    <h3 class="user-name">Jerald Villote</h3>
                    <h5>System Administrator</h5> 
                </div>
            </div>
    </body>
</html>