<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Breed Classifier </title>
        <meta name="viewport" content="width=device-width, initial- scale=1.0">
        <link rel="stylesheet" href="/static/layout.css" />
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">Breed Classifier</label>
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="members">Creators</a></li>
            </ul>
        </nav>
        <h1>WELCOME!</h1>
        <div class = "rabbit">
            <img src="{{url_for('static', filename='rabbit-bg.png')}}"/>
        </div>
    </body>
</html>